<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../stylesheets/home.css">
	<link rel="shortcut icon" href="/">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	 crossorigin="anonymous">
	<title>One2one</title>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<h2>Video call</h2>

			<div class="col-md-12">
				<div class="col-md-6">
					<video id="localVideo"></video>
				</div>
				<div class="col-md-6" id="remoteVideos">
				</div>
			</div>
		</div>

		<div class="row button_row">
			<div class="col-md-5"></div>
			<div class="col-md-2">
				<div class="control_panel">
					<ul class="panel_ul">
						<li class="panel_li">
							<span id="video_pause" class="icon ">
								<i class="fas fa-video"></i>
							</span>
							<span id="video_play" class="icon ">
								<i class="fas fa-video-slash"></i>
							</span>
						</li>
						<li>
							<span id="audio_pause" class="icon">
								<i class="fas fa-microphone"></i>
							</span>
							<span id="audio_play" class="icon">
								<i class="fa fa-microphone-slash" aria-hidden="true"></i>
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-5"></div>
		</div>
	</div>
	<script type="text/javascript" src="../javascripts/simplewebrtc-with-adapter.bundle.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script type="text/javascript" src="../javascripts/home.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


</body>

</html>